<button
  [type]="type"
  class="btn"
  [class.btn--primary]="variant === 'primary'"
  [class.btn--secondary]="variant === 'secondary'"
  [class.btn--outline]="variant === 'outline'"
  [class.btn--text]="variant === 'text'"
  [class.btn--small]="size === 'small'"
  [class.btn--medium]="size === 'medium'"
  [class.btn--large]="size === 'large'"
  [class.btn--full-width]="fullWidth"
  [class.btn--disabled]="disabled || loading"
  [disabled]="disabled || loading"
  [attr.aria-label]="ariaLabel"
  (click)="onClick($event)"
  matRipple
  [matRippleDisabled]="disabled || loading">

  <div class="btn__content">
    <mat-icon *ngIf="icon && iconPosition === 'left'" class="btn__icon btn__icon--left">
      {{ icon }}
    </mat-icon>

    <ng-container *ngIf="!loading">
      <ng-content></ng-content>
    </ng-container>

    <div *ngIf="loading" class="btn__spinner"></div>

    <mat-icon *ngIf="icon && iconPosition === 'right'" class="btn__icon btn__icon--right">
      {{ icon }}
    </mat-icon>
  </div>
</button>
