<div class="home-container">
  <header class="hero">
    <h1>Bienvenue sur Vibe Tickets 2025</h1>
    <img src="assets/pictures/banner.png" alt="Banner">
  </header>

  <section class="intro">
    <p>Vibe Tickets est la plateforme unique où toutes les émotions convergent. Que ce soit pour la musique entraînante, le frisson du théâtre ou la passion du sport, Vibe Tickets est l'endroit incontournable pour trouver votre prochaine expérience vibrante. À l'image des plus grands rassemblements mondiaux, nous connectons les envies aux événements qui font palpiter le cœur et créent des souvenirs inoubliables. Avec Vibe Tickets, préparez-vous à vivre des moments exceptionnels et à partager des émotions intenses, où que vous soyez et quels que soient vos centres d'intérêt.</p>
    <p>Plongez au cœur d'un univers d'événements captivants. Sur Vibe Tickets, découvrez aisément une multitude d'opportunités pour vivre des moments forts. Des mélodies entraînantes aux récits théâtraux poignants, en passant par l'intensité des compétitions sportives, notre plateforme vous offre un accès direct à un éventail d'expériences enrichissantes. Grâce à une navigation fluide et un design actuel, dénichez sans effort le laissez-passer pour vos prochaines émotions et préparez-vous à créer des souvenirs mémorables. Avec Vibe Tickets, l'excitation est à portée de clics.</p>
  </section>

  <section class="sports">
    <h2>Quelques sports</h2>
    <div class="sports-grid">
      <app-card
        cardType="sport"
        imgSrc="assets/pictures/vtt.webp"
        imgAlt="Cyclisme Mountain Bike"
        description="Cyclisme Mountain Bike">
      </app-card>

      <app-card
        cardType="sport"
        imgSrc="assets/pictures/escrime.webp"
        imgAlt="Escrime"
        description="Escrime">
      </app-card>

      <app-card
        cardType="sport"
        imgSrc="assets/pictures/natation.webp"
        imgAlt="Natation"
        description="Natation">
      </app-card>

      <app-card
        cardType="sport"
        imgSrc="assets/pictures/gym.webp"
        imgAlt="Gymnastique Artistique"
        description="Gymnastique Artistique">
      </app-card>

      <app-card
        cardType="sport"
        imgSrc="assets/pictures/judo.webp"
        imgAlt="Judo"
        description="Judo">
      </app-card>
    </div>
  </section>

  <section class="news-highlights">
    <h2>Actualités</h2>
    <div class="news-grid">
      <app-card
        cardType="news"
        title="Nouveau record du monde pour le 400m nage libre"
        description="Le nageur australien bat le record du monde lors des séries éliminatoires."
        linkUrl="#"
        linkText="Lire la suite">
      </app-card>

      <app-card
        cardType="news"
        title="La gymnaste française remporte l'or"
        description="Une performance exceptionnelle qui fait la fierté de toute la nation."
        linkUrl="#"
        linkText="Lire la suite">
      </app-card>
    </div>
  </section>

</div>
