<div
  *ngIf="isOpen"
  class="modal-backdrop"
  (click)="closeModal()"
  @fadeInOut>

  <div
    class="modal-container"
    [ngClass]="'modal-' + size"
    (click)="stopPropagation($event)"
    @slideUpDown>

    <div class="modal-header">
      <ng-container *ngIf="headerTemplate; else defaultHeader">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </ng-container>

      <ng-template #defaultHeader>
        <h2 class="modal-title">{{ title }}</h2>
        <button
          *ngIf="showCloseButton"
          class="close-button"
          (click)="closeModal()"
          aria-label="Fermer">
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
    </div>

    <div class="modal-content">
      <ng-content></ng-content>
    </div>

    <div *ngIf="footerTemplate" class="modal-footer">
      <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </div>
  </div>

</div>
